.container{
    background-color: #beb7b7;
    min-height: 100vh;
}

.container_signup {
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    background-color: #beb7b7;
}

.container_signup_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    padding: 40px 48px;
}

.container_signup_img{
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
}

.container_signup_head{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: rgba(10, 1, 2, 1);
    text-transform: uppercase;
    opacity: 1;
}


.container_signup_details {
    display: flex;
    flex-direction: column;
    flex:1;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    padding: 20px 70px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 6px;
    opacity: 1;
    z-index: 100;
    position: relative;
    left: -18px
}
.container_details_image {
    width: 7rem;
    height: 4rem;
    margin-left: -11px;
}
.container_details_image img {
    width: 100%;
    height: 100%;
}
.container_details_heading {
    text-align: start;
    font-size: 24px;
    font-weight: 400;
    padding-top: -5px;
    margin-bottom: 15px;
}
.container_logo {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_logo p {
    font-size: 16px;
    font-weight: 300;
    color: #202124;
    padding: 0 25px;
    text-align: center;
}
.container_details_field {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0px;
}
.container_details_field >*{
    padding-top:2px;
    padding-bottom: 2px;
    width:100%;
}
.container_field_split2 >* {
    width: 49%;
}

.container_details_field_hint{
    width: 100%;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #5f6368;
}

.container_signup_link {
    width: 100%;
    text-align: start;
    
    display: flex;
    justify-content: space-between;
}

.container_signup_link a {
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    font-size: 27px;
    letter-spacing: 0px;
    color: rgba(135, 135, 135, 1);
    text-transform: uppercase;
    font: normal normal medium 25px/33px Roboto;
}

.active{
    color: #0A0102 !important; 
    border-bottom: 4px solid #A03037;
}

.container_details_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
}

.container_details_footer >* {
    flex:1;
}

.button_warn{
    background: rgba(160, 48, 55, 1) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
    font-size: 15px;
    padding: 8px 0px;
    border: none;
}

.container_seperator {
    padding: 17.5px 40px;
    display: flex;
    align-items: center;
}

.container_seperator >*:not(:last-child){
    margin-right: 10px;
}

.container_seperator_line{
    height: 1px;
    background-color: #E1E4EA ;
    flex:1;
}

.container_other{
    display: flex;
    margin-bottom: 25px;
    margin-top: 22px;
}

.container_other >*{
    flex:1;
    padding: 10px 0px;
}

.container_other >*:not(:last-child){
    margin-right: 10px;
}

.container_other_facebook {
    background: #4266B2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: none;
    opacity: 1;
    color: white;
}

.container_other_google{
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    opacity: 1;
}

@media screen and (max-width: 900px){
    .container_signup{
        width: 450px
    }  

    .container_logo{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .container_signup{
        width: 100%;
    }   
}