

.home_nav{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    text-decoration: none;
}

.product_details{
    display:flex;
    flex-direction: row;
    padding: 20px 12%;
}

.product_description{
    display: flex;
    flex-direction: column;
}

.product_summary{
    padding-bottom: 20px;
}

.product_summary >*:not(:last-child){
    margin-bottom: 15px;
}

.product_description{
    flex:1
}

.product_description >*{
    width: 100%
}

.product_description >*:not(:last-child){
    margin-bottom: 15px;
    border-bottom: 1px solid #9D9D9D;
}

.product_details_heading{
    text-align: left;
    font: normal normal normal 24px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-weight: 600;
}

.product_details_author{
    font: normal normal normal 16px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    font-weight: 500;
    display: inline-flex;
}

.product_price >*:not(:last-child) {
    margin-right: 5px
}

.product_details_price{
    font: normal normal bold 24px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-weight: 600
}

.product_details_discount_price {
    text-decoration: line-through;
    font: normal normal normal 18px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.product_review{
    display: flex;
    align-items: center;
}

.product_review >*:not(:last-child){
   margin-right: 5px;
}

.product_review_value{
    font: normal normal bold 14px/13px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: #388E3C;
    padding: 5px 10px;
    display: flex;
    width: fit-content;
    align-items: center;
}

.product_review_count{
    font: normal normal normal 14px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.product_description{
    padding: 0 40px;
}

.product_info{
  padding: 10px 0;
}

.product_info_head{
  color: #878787
}

.product_info_desc{
   margin-top: 10px;
   color: #373434
}

.product_feedback{

}

.product_feedback_head{
    color: #373434;
    font-size: 20px;
    font-weight: 600;
}

.product_rating {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px
}

.product_rating_desc {
    font-size: 14px
}

.product_rating_stars{
    display: flex;
    width: 100%;
    align-items: center;
}

.product_rating_stars >* {
    margin-right: 10px;
    margin-top: 5px
}